<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="CucumberRunner">
        <classes>
            <class name="runner.UITestRunnnerTestNG"/>
        </classes>
    </test>
    <!--    <listeners>-->
    <!--        <listener class-name="failedTestCases.AnnotationTransformer"></listener>-->
    <!--    </listeners>-->
</suite>